<form [formGroup]="reactiveForm" (ngSubmit)="OnSubmit(first.value, last.value, step.value)" (ngSubmit)="submitForm()">
  <ion-item lines="full">
    <ion-label position="floating">Перша точка х</ion-label>
    <ion-input formControlName="firstV" type="text" value="{{first_num}}" #first></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="errorControl.firstV.errors?.pattern">
    Лише числа
  </span>
  <ion-item lines="full">
    <ion-label position="floating">Перша точка у</ion-label>
    <ion-input formControlName="lastV" type="text" value="{{last_num}}" #last></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="errorControl.lastV.errors?.pattern">
    Лише числа
  </span>
  <ion-item lines="full">
    <ion-label position="floating">Друга точка х</ion-label>
    <ion-input formControlName="step" type="text" value="{{step_num}}" #step></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="errorControl.step.errors?.pattern">
    Лише числа
  </span>
  <ion-item lines="full">
    <ion-label position="floating">Друга точка у</ion-label>
    <ion-input formControlName="step" type="text" value="{{step_num}}" #step></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="errorControl.step.errors?.pattern">
    Лише числа
  </span>
  <ion-button type="submit">
    Оримати результат
  </ion-button>
</form>