<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-title>Завдання</ion-card-title>
    <ion-list>
      <ion-item>
        <ion-text>
          Розробити сервіс для обчислення площі загальної частини, сумарної площі,<p>
          а також порівняння площ двох прямокутників зі сторонами, паралельними осям координат.<p>
          Прямокутники задаються координатами протилежних вершин(можна задати координати всіх вершин або координати двох вершин та розміри).
        </ion-text>
      </ion-item>
    </ion-list>    
  </ion-card>
  
  <ion-card>
    <app-reactive-form (output)="ReceiveFromChild($event)" [first_num]="" 
     [last_num]="" [step_num]="">
    </app-reactive-form>
  </ion-card>
  
