<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-title>Завдання</ion-card-title>
    <ion-list>
      <ion-item>
        <ion-text>
        1. Розробити сервіс для табулювання функції відповідно до варіанту 
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-text>
        2. Розробити сервіс для розрахунку значень функції за допомогою ряду
        відповідно до варіанту 
        </ion-text>
      </ion-item>
    </ion-list>    
  </ion-card>
  
  <ion-card>
    <app-reactive-form (output)="ReceiveFromChild($event)" [first_num]="" 
     [last_num]="" [step_num]="">
    </app-reactive-form>
  </ion-card>
  
  <ion-card>
    <ion-card-title>Вихід</ion-card-title>
    <ion-list>
      <ion-item *ngFor="let item of result | keyvalue">
        <ion-label>
          <ion-text>
            x = {{item.key}}, y = {{item.value.toFixed(3)}}
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>  
</ion-content>
